<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AdmissionForm1.Properties.Settings.iihtConnectionString"
            connectionString="Data Source=WALIDKADRI;Initial Catalog=iiht;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>